@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.green-underlined, .hoverable {
    position: relative;
    overflow: hidden;
}

.green-underlined::after, .hoverable::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(34 197 94);
    transform: translate(-101%, 0);
    transition: transform 0.2s linear;
}

.green-underlined::after, .hoverable:hover::after, .hoverable:focus::after {
    transform: translate(0, 0);
}

.logo-font {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.lettuce-clipped {
    clip-path: path(
    "M108.56 179.592C207.008 176.104 307.024 214.856 392.128 265.176C409.744 254.616 427.84 244.424 446.336 234.92C432.784 220.936 419.328 207.416 405.104 194.872C290.944 94.168 208.16 50.504 77.392 61.496L122.352 155.176C117.472 163.032 112.864 171.192 108.56 179.592ZM235.312 45.624C296.672 69.032 355.28 107.736 404.928 148.52C454.688 107.88 512.128 71.88 572.224 49.16C468.864 -14.536 340.08 -15.448 235.312 45.624ZM727.856 65.88C610.768 55.976 537.376 87.736 432.096 171.8C448.656 186.712 464.176 202.68 479.616 218.728C546.24 188.312 617.056 168.056 688.24 169.784L682.688 160.264L727.856 65.88ZM633.856 208.84C567.344 217.848 498 245.656 426.656 286.648C523.344 349.256 598.816 422.04 680.912 501.928C716.832 443.864 732.4 379.88 729.36 311.848L800 231.368C740.416 209.144 702.848 199.512 633.856 208.84ZM660.112 531.72C573.808 447.576 495.024 371.864 392.16 307.352C288.928 242.6 192.944 211.688 108.288 215.416C67.776 217.128 37.792 228.024 0 242.12C25.312 268.136 49.568 293.192 72.624 321.368C68.368 507.784 218.48 659.816 405.008 657.384C500.928 656.136 596.016 613.496 660.112 531.72Z"
    );
    background-size: 150%;
    scale: 0.66;
    background-position: 50% calc(50% - 120px);
    transform: translateX(-120px);
}