@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.green-underlined, .hoverable {
    position: relative;
    overflow: hidden;
}

.green-underlined::after, .hoverable::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: rgb(34 197 94);
    transform: translate(-101%, 0);
    transition: transform 0.2s linear;
}

.green-underlined::after, .hoverable:hover::after, .hoverable:focus::after {
    transform: translate(0, 0);
}

.logo-font {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}